@model IEnumerable<NIDO_TimeAttandance_MVC.Models.ModelManualPosting>

@{
    ViewBag.Title = "ListAll";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}




<!-- Static Table Start -->

<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1><span class="table-project-n">Manual Entries Detail</span></h1>
                            <div class="sparkline13-outline-icon">
                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>

                                        <th data-field="EmpCode" data-editable="true">EmpCode</th>
                                        <th data-field="Name" data-editable="true">Name</th>
                                        <th data-field="Reason" data-editable="true">Reason</th>
                                        <th data-field="Remarks" data-editable="true">Remarks</th>
                                        <th>Check Type</th>
                                        <th>Date</th>
                                        <th>Time Enter</th>
                                        <th data-field="action">
                                            Action<div class="button-drop-style-one" style="float:right">
                                                <button type="button" class="btn btn-custon-four btn-success primary-btn-cl" onclick="redirect('/ManualAttandance/Index/')">
                                                    Add New
                                                    <i class="adminpro-icon adminpro-avatar"></i>
                                                </button>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        string Time = item.CheckTime.TimeOfDay.ToString();
                                        string Date = item.CheckTime.Date.ToString("dd MMM yyyy");
                                        string Type = "";
                                        string checktype_color = "";
                                        if (item.CheckType== 1)
                                        {
                                            Type = "Check-In";
                                            checktype_color = "green";
                                        }
                                        else
                                        {
                                            Type = "Check-Out";
                                            checktype_color = "palevioletred";
                                        }

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Empcode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmpName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Reason)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Remarks)
                                        </td>
                                        <td>
                                            <span><i style="color:@checktype_color" class="fa fa-calendar"> @Type</i></span>
                                        </td>
                                        <td>
                                            <span><i style="color:palevioletred" class="fa fa-calendar"> @Date</i></span>
                                        </td>
                                        <td>
                                            <span> <i style="color:green" class="fa fa-clock-o"> @Time</i></span>
                                        </td>
                                        <td>
                                            @*@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { onclick = "return confirm('Are you sure to Delete this Entry......?');", @class = "btn btn-custon-four btn-danger danger-btn-cl" })*@
                                            <input type="button" value="Delete" class="btn btn-custon-four btn-danger danger-btn-cl" onclick="ActionLinkAlert('/ManualAttandance/Delete',@item.ID)" />

                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
