@model IEnumerable<NIDO_TimeAttandance_MVC.Areas.Reports.Models.ModelMonthlyRepot>
@{
    ViewBag.Title = "ManualReport";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    tr.group-header {
        cursor: pointer;
    }

    tr.group-header {
        cursor: pointer;
    }
</style>


@{

    //   DataTable dt = TempData["AttendaceSummaryReport"] as DataTable;
    string date = ViewBag.DateRange;
    string[] dateRange = date.Split(',');
}

<div class="data-table-area mg-b-15">
    <div class="row"><br /></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1><span class="table-project-n">Manual Attendance from @dateRange[0] to @dateRange[1]</span></h1>
                            <div class="sparkline13-outline-icon">
                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th>Emp Code</th>
                                        <th>Emp Name</th>
                                        <th>Approved by</th>
                                        <th>Check Time</th>
                                        <th>Date</th>
                                        <th>Reason</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var item in Model)
                                    {

                                    <tr>
                                        <td>
                                            @item.EmpCode
                                        </td>
                                        <td>
                                            @item.EmpName
                                        </td>
                                        <td>
                                            @item.AbrovedBy
                                        </td>
                                        <td>
                                            @item.checkTime
                                        </td>
                                        <td>
                                            @item.CreatedDate
                                        </td>
                                        <td>
                                            @item.Reason
                                        </td>

                                    </tr>
                                    }
                                    @*<tr>
                                        <td> <span style="color:#03a9f4">Total</span></td>
                                        <td>10 </td>
                                        <td></td>
                                    </tr>*@

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

