@model NIDO_TimeAttandance_MVC.Areas.Payroll.Models.AdvanceDetailModel

@{
    ViewBag.Title = "EditAdvanceDetail";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="login-form-area mg-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            @using (Ajax.BeginForm("UpdateAdvanceDetail", "Advance", new AjaxOptions { HttpMethod = "POST", OnBegin = "OnBeginAjax", OnFailure = "OnFailureAjax", OnSuccess = "OnSuccessAjax" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.AdvanceDetailId)
                @Html.HiddenFor(model => model.AdvanceId)
                <div class="col-lg-12">
                    <div class="login-bg">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="login-title">
                                    <h1>Update Advance Installment</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <div class="login-input-head">
                                        <p>Advance Installment Date</p>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="login-input-area">
                                        @{ string month = Convert.ToDateTime(Model.AdvanceInstallmentDate.Value).ToString("MMM/yyyy");}
                                        @Html.DisplayFor(modelItem => month)
                                        <i class="fa fa-user login-user" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <div class="login-input-head">
                                        <p>Payment Status</p>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="login-input-area">
                                        @Html.DropDownListFor(model => model.PaymentStatusId, ViewBag.PaymentStatus as IEnumerable<SelectListItem>, "Please select Payment Status", new { @class = "form-control m-input", id = "PaymentStatusId" })


                                        @Html.ValidationMessageFor(model => model.PaymentStatusId, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <div class="login-input-head">
                                        <p>Installment Amount Value</p>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="login-input-area">
                                        @Html.TextBoxFor(model => model.InstallmentAmount, new { placeholder = "Please Enter Amount", required = "" })


                                        @Html.ValidationMessageFor(model => model.InstallmentAmount, "", new { @class = "text-danger" })
                                        <i class="fa fa-user login-user" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8">
                                <div class="login-button-pro">
                                    <button type="submit" class="login-button login-button-lg">Update Installment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-lg-3"></div>
        </div>
    </div>
</div>
