@model IEnumerable<NIDO_TimeAttandance_MVC.Models.ModelCompany>

@{
    ViewBag.Title = "ListAll";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="data-table-area mg-b-15">
    <div class="row"><br /></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>
                                <span class="table-project-n">
                                    Company    @if (ViewBag.Error != null)
                                    {
                                        <span class="alert alert-danger">@ViewBag.Error  </span>
                                    }
                                </span>
                            </h1>

                            <div class="sparkline13-outline-icon">
                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>


                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr style="width:40%">
                                        <th>Company</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Fax</th>
                                        <th>Website</th>
                                        <th>
                                            Action
                                            <div class="button-drop-style-one" style="float:right">
                                                <button type="button" class="btn btn-custon-four btn-success primary-btn-cl" onclick="redirect('/Company/Create/')">
                                                    Add New
                                                    <i class="adminpro-icon adminpro-avatar"></i>
                                                </button>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr style="width:40%">
                                            <td>
                                                @item.CompanyDesc

                                            </td>
                                            <td>
                                                @item.CompanyAdd

                                            </td>
                                            <td>
                                                @item.CompanyPhone

                                            </td>
                                            <td>
                                                @item.CompanyFax

                                            </td>
                                            <td>
                                                @item.CompanyWeb

                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.CompanyId }, new { @class = "btn btn-custon-four btn-warning warning-btn-cl" }) |

                                                <input class="btn btn-custon-four btn-danger danger-btn-cl" type="button" value="Delete" onclick="ActionLinkAlert('/Company/DeleteCompany',@item.CompanyId)" />
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







