@model NIDO_TimeAttandance_MVC.Models.ModelLeaveMap

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<link href="~/Assests/abc/datatables.min.css" rel="stylesheet" />
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-graph">
                        <form id="frm-Leave" method="POST">
                            <div class="button-drop-style-one" style="float:left">
                                <button type="submit" class="btn btn-custon-four btn-success primary-btn-cl">
                                    Save/Map Employee(s)
                                    <i class="adminpro-icon adminpro-avatar"></i>
                                </button>
                            </div>
                            <div class="login-form-area mg-t-30 mg-b-15">
                                <div class="datatable-dashv1-list custom-datatable-overright">
                                    <table id="tableLeave" class="cell-border compact stripe order-column">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Ecode</th>
                                                <th>Name</th>
                                                <th>Employee Type</th>
                                                <th>City</th>
                                                <th>Company</th>
                                                <th>Department</th>
                                                <th>Designation</th>
                                                <th>Grade</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.Employees)
                                            {
                                                string a = "";

                                                if (item.EmpID == item.empidExist)
                                                {
                                                    a = "color:#0044cc;font-weight:bold";
                                                }
                                                var RowID = item.EmpID + "|" + item.EmpName;

                                                <tr style="@a">
                                                    <td>@RowID</td>
                                                    <td>@item.EmpCode</td>
                                                    <td>@item.EmpName</td>
                                                    <td>@item.EmployeeType</td>
                                                    <td>@item.CityDesc </td>
                                                    <td>@item.CompanyName  </td>
                                                    <td>@item.DepartmentDesc </td>
                                                    <td>@item.DesignationDesc  </td>
                                                    <td>@item.GradeDesc </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <hr />@{ long MID = 0; }

                                <div class="form-group data-custon-pick data-custom-mg data_5">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <div class="input-daterange input-group">
                                           
                                            <span id="Date-label" class="input-group-addon">Select Date</span>
                                            <span id="startDate-label" class="input-group-addon">Select Date Range</span>
                                            <input type="text" class="form-control" id="startDate" placeholder="Please select From Date" required name="start" autocomplete="off" />


                                            <span id="endDate-label" class="input-group-addon">to</span>
                                            <input type="text" class="form-control" id="endDate" placeholder="Please select To Date" required name="end" autocomplete="off" />

                                            @*<span  id="Date-label" class="input-group-addon">Select Date</span>
                                            <input type="text" class="form-control" id="Date" placeholder="Pleaseassas To Date" required name="end" autocomplete="off" />*@

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <table>
                                        @foreach (var item in ViewBag.LeaveType)
                                        {
                                            MID = item.MID;
                                            <tr>
                                                <td><input @item.checked_Status type="checkbox" name="LeaveType" class="LeaveType" value="@item.ID" />@item.LeaveDsc</td>
                                                <td><input type="text" id="@item.ID" name="LeaveAllowed" class="LeaveAllowed form-control" value=" @item.LeaveAllowed" onchange="checkLeave(@item.ID,$(this).val(),@item.LeaveAllowed)" /></td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                                <hr />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Assests/abc/datatables.min.js"></script>
<script src="~/Assests/abc/dataTables.checkboxes.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#tableLeave').DataTable({
            'columnDefs': [
                {
                    'targets': 0,
                    'checkboxes': {
                        'selectRow': true
                    }
                }
            ],
            'select': {
                'style': 'multi'
            },
            'order': [[1, 'asc']]
        });

        // Handle form submission event
        $('#frm-Leave').on('submit', function (e) {
            var start = $('[name=start]').val();
            var end = $('[name=end]').val();

            
            var startDate = new Date(start)
            var endDate = new Date(end)

            if (startDate > endDate) {
                
                SendNotif('Error!', 'Invalid Date Range', 'error');
                e.preventDefault();
                return;
            }
            var form = this;
            var arr = [];
            //start
            var LeaveIDArray = [];
            var LeaveAllowed = [];
            //var MID = $("#MID_ID").val();
            var MID =@MID;
            var current = 0;
            $('.LeaveType').each(function () {
                if ($(this).is(':checked')) {
                    // check the checked property with .is
                    current = $(this).val();
                    LeaveAllowed.push($(this).parents("tr").find(".LeaveAllowed").val() + "_" + current) //get the input textbox associated with it
                }
                LeaveIDArray.push($(this).val());
            });
            if (LeaveAllowed.length <= 0) {
                SendNotif("Warning!", "Please select at least one leave", 'warning');
                return false;
            }
            var rows_selected = table.column(0).checkboxes.selected();
            if (rows_selected.length <=0) {
                SendNotif("Warning!", "Please select at least one user", 'warning');
                return false;
            }
            // Iterate over all selected checkboxes
            $.each(rows_selected, function (index, rowId) {
                // Create a hidden element
                arr.push(rowId);
                $(form).append(
                    $('<input>')
                        .attr('type', 'hidden')
                        .attr('name', 'id[]')
                        .val(rowId)
                );
            });

            StartProcessLeave(arr, LeaveAllowed, MID,start,end);
            e.preventDefault();
        });
    });
</script>


<script>
    //CALLING METHOD IN THE CONTROLLER TO DO SOME WORK
    function StartProcessLeave(arr, LeaveDetail, MID,start,end) {
        $.ajax({
            type: 'POST',
            url: '/LeaveMap/SaveLeave/',
            data: {
                EmpId: arr,
                LeaveDetail: LeaveDetail,
                MID: MID,
                StartDate: start,
                EndDate : end
            },
            success: function (msg) {
                if (msg.Status == "Error") {
                    $('#DangerP').text(msg.Message);
                    $('#DangerMsg')[0].click();
                }
                else if (msg.Status == "Success") {
                    $(".se-pre-con").fadeOut("fast");
                    $('#InfoP').text(msg.Message);
                    //Change URL
                    var oldUrl = $('#InfoA').attr("href");
                    var newUrl = oldUrl.replace("/Home/Index/", "/LeaveMap/ListAll/");
                    $('#InfoA').attr("href", newUrl);
                    $('#InfoMsg')[0].click();
                }
            },
            Error: function () {
                alert("oops something went wrong");
            },

        })
    }
</script>

<script>
    function checkLeave(id, days, allowedDays) {
        $.ajax({
            type: 'POST',
            url: '/LeaveMap/EnterLeaveDayStatus/',
            data: { LeaveID: id, NoEnter: days },
            success: function (resp) {
                if (resp.status == "Invalid") {
                    SendNotif("Oooops!", "Entered days are greater than from allowed days", 'error');
                    $('#' + id).val(allowedDays);
                }
            }
        })
    }
</script>