
@{
    ViewBag.Title = "GetAllNotifications";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    img {
        border-radius: 50%;
    }
</style>

<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">

                            <h1><span class="table-project-n">Employee</span></h1>
                            <div class="sparkline13-outline-icon">
                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th>Sender</th>
                                        <th>Send Date</th>
                                        <th>Title</th>
                                        <th>Detail</th>
                                        <th>Seen</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.Notifications)
                                    {
                                        string ImgPath = "";
                                        string SendDate = item.SenderDate.ToString();
                                        if (item.EmpImg != null)
                                        {
                                            ImgPath = item.EmpImg;
                                        }
                                        else
                                        {
                                            if (item.Gender == "Male")
                                            {
                                                ImgPath = "/Assests/Home/img/boyDp.png";
                                            }
                                            else if (item.Gender == "Female")
                                            {
                                                ImgPath = "/Assests/Home/img/girlDp.png";
                                            }
                                            else
                                            {
                                                ImgPath = "/Assests/Home/img/User_Circle.png";
                                            }
                                        }
                                        <tr>
                                            <td>
                                                <div>
                                                    <img src="@ImgPath" width="30" height="30" alt="" /> @item.EmpName
                                                </div>
                                            </td>
                                            
                                            <td>
                                                @SendDate
                                            </td>
                                            <td>
                                                @item.NotificationTitle
                                            </td>
                                            <td>
                                                @item.NotificationDetail
                                            </td>
                                            <td>
                                                @item.SeenDateTime
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>