@using NIDO_TimeAttandance_MVC.Areas.Payroll.Models
@using System.Data
@model DataSet

@{
    /**/

    ViewBag.Title = "Reporting";
    //Layout = null;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    var lates = (List<LateDeductViewModel>)ViewBag.lates;
    var attendanceData = (List<Nstp_MonthlyAttendance_Result>)ViewBag.Data;
    //var latesGroup = lates.GroupBy(c => c.empId).ToList();
}

<!-- Theme CSS -->
<link rel="stylesheet" href="~/Assests/Dashboard/assets/stylesheets/theme.css" />
<!-- Vendor CSS -->
@*<link rel="stylesheet" href="~/Assests/Dashboard/assets/vendor/bootstrap/css/bootstrap.css" />*@
<!-- Invoice Print Style -->
<link rel="stylesheet" media="" href="~/Assests/Dashboard/assets/stylesheets/invoice-print.css" />


<div id="printableArea">
    @*<link rel="stylesheet" href="~/Assests/Home/css/bootstrap.min.css">*@
    <link rel="stylesheet" media="" href="~/Assests/Dashboard/assets/stylesheets/invoice-print.css" />
    <style type="text/css">
        @@media print {
            .pagebreak {
                page-break-before: always;
            }
            /* page-break-after works, as well */
        }
    </style>

    @{
        var icon = (NIDO_TimeAttandance_MVC.tbl_IconControl)Session["Icon"];
    }

    @foreach (DataRow item in Model.Tables[0].Rows)
    {
        var empId = (long)item["EmpId"];
        var empLates = lates.Where(c => c.empId == empId).ToList();
        //string NoOfLates = "";
        //string OverTIme = "";
        //string WorkingHrsTime = "";
        //TimeSpan tm, tOverTime, WorkingHrs;
        //item.BasicSalary = (Int32)(item.BasicSalary == null ? 0 : item.BasicSalary);
        //item.PerDaySalary = (Int32)(item.PerDaySalary == null ? 0 : item.PerDaySalary);
        //item.PerHourSalary = (Int32)(item.PerHourSalary == null ? 0 : item.PerHourSalary);

        string NoOfLates = "";
        string OverTIme = "";
        string WorkingHrsTime = "";
        TimeSpan tm, tOverTime, WorkingHrs;
            <section class="panel">
            <div class="panel-body">
                <div class="invoice">

                    <div class="bill-info">
                        <div class="row">
                            <div class="col-sm-6 mt-md">
                                <div class="ib" style="width:30%;height:10%">
                                    @*<img src="~/Assests/Home/img/logo/NewLogo.png" />*@
                                    <img src="@icon.Report" alt="okler themes" />

                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <h2 class="h4 mt-none mb-sm text-dark text-bold">Pay Slip Report</h2>
                                <h4 class="h5 m-none text-dark text-bold">@ViewBag.DateRange</h4>
                            </div>
                        </div>
                        <br />
                        <br />

                    </div>
                    <div class="bill-info">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6 mt-md">
                                <div class="ib" style="width:30%;height:10%">
                                    @*<img src="~/Assests/Home/img/logo/NewLogo.png" />*@
                                    <img src="@icon.Report" alt="okler themes" />
                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <h2 class="h4 mt-none mb-sm text-dark text-bold">Attendance Report</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="bill-to">
                                    Employee Code: @item["EmpCode"]   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   Name: @item["EmpName"]
                                    <br />
                                    Department: @item["DepartmentDesc"]    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;     Designation:  @item["DesignationDesc"]
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table ">
                            <thead>
                                <tr></tr>
                                <tr class="text-dark">
                                    <th id="Date" class="text-center text-semibold">Date</th>
                                    <th id="TimeIn" class="text-center text-semibold">Clock In</th>
                                    <th id="TimeOut" class="text-center text-semibold">Clock Out</th>
                                    @*<th id="Working" class="text-center text-semibold">Working</th>*@
                                    <th id="Late" class="text-center text-semibold">Late</th>
                                    @*<th id="Short" class="text-center text-semibold">Short</th>*@
                                    @*<th id="OT" class="text-center text-semibold">OT</th>*@
                                    <th id="Result" class="text-center text-semibold">Result</th>
                                    @*<th id="Remarks" class="text-center text-semibold">Remarks</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var d in attendanceData.Where(c => c.EmpId == empId).ToList())
                                {

                                    if (d.EmpId == empId)
                                    {

                                        string Date = d.AttDate.Value.ToString("dd-MM-yyy");
                                        string TimeIN = "";
                                        string TimeOUT = "";
                                        string LateMin = "";
                                        string TotalWorking = "";
                                        string Short = "";
                                        string OT_Min = "";
                                        TimeSpan ts, WorkingTs, ShortTs, OtTS;
                                        if (d.TimeIn != null)
                                        {
                                            TimeIN = d.TimeIn.Value.ToString("hh':'mm");

                                        }
                                        if (d.TimeOut != null)
                                        {

                                            TimeOUT = d.TimeOut.Value.ToString("hh':'mm");
                                        }
                                        if (d.LateMin != null && d.LateMin != 0)
                                        {
                                            ts = TimeSpan.FromMinutes(d.LateMin.Value);
                                            LateMin = ts.ToString("hh':'mm");
                                        }
                                        if (d.TotalWorking != null && d.TotalWorking != 0)
                                        {
                                            WorkingTs = TimeSpan.FromMinutes(d.TotalWorking.Value);
                                            TotalWorking = WorkingTs.ToString("hh':'mm");
                                        }
                                        if (d.EarlyMin != null && d.EarlyMin != 0)
                                        {
                                            ShortTs = TimeSpan.FromMinutes(d.EarlyMin.Value);
                                            Short = ShortTs.ToString("hh':'mm");
                                        }
                                        if (d.OT != null && d.OT != 0)
                                        {
                                            OtTS = TimeSpan.FromMinutes(d.OT.Value);
                                            OT_Min = OtTS.ToString("hh':'mm");
                                        }
                                        <tr>
                                            @if (d.IsManual)
                                            {
                                                <td class="text-center"> *@Date</td>
                                            }
                                            else
                                            {
                                                <td class="text-center">@Date</td>
                                            }


                                            <td class="text-center">@TimeIN</td>
                                            <td class="text-center">@TimeOUT</td>
                                            @*<td class="text-center">@TotalWorking</td>*@
                                            <td class="text-center">@LateMin</td>
                                            @*<td class="text-center">@Short</td>*@
                                            @*<td class="text-center">@OT_Min</td>*@
                                            <td class="text-center">@d.Result</td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>


                </div>
                <br />

                @*@{
                    double? TotalEarning = 0;

                    item.OTAmount = (Int32)(item.OTAmount == null ? 0 : item.OTAmount);
                    item.LeaveAmount = (Int32)(item.LeaveAmount == null ? 0 : item.LeaveAmount);
                    item.HolidayOTAmount = (Int32)(item.HolidayOTAmount == null ? 0 : item.HolidayOTAmount);

                    item.AbsentAmount = (Int32)(item.AbsentAmount == null ? 0 : item.AbsentAmount);
                    item.HalfDayAmount = (Int32)(item.HalfDayAmount == null ? 0 : item.HalfDayAmount);
                    item.LateAmount = (Int32)(item.LateAmount == null ? 0 : item.LateAmount);
                    item.LoanAmount = (Int32)(item.LoanAmount == null ? 0 : item.LoanAmount);
                    item.AdvanceAmount = (Int32)(item.AdvanceAmount == null ? 0 : item.AdvanceAmount);

                    //item.TotalOT = item.TotalOT == null ? 0 : item.TotalOT;
                    item.TotalAbsent = item.TotalAbsent == null ? 0 : item.TotalAbsent;
                    item.TotalLeave = item.TotalLeave == null ? 0 : item.TotalLeave;
                    item.TotalLate = item.TotalLate == null ? 0 : item.TotalLate;
                    item.TotalHalfDay = item.TotalHalfDay == null ? 0 : item.TotalHalfDay;
                    IList<PaySlipAllowanceModel> pam = item.Allowances;
                    IList<PaySlipDeductionModel> pdm = item.Deductions;
                    IList<PaySlipEOBIModel> peoid = item.EOBI;
                    IList<PaySlipProvidentFundModel> ppf = item.ProvidentFund;
                    IList<PaySlipBonusModel> pbm = item.Bonuses;



                    TotalEarning = item.OTAmount + item.LeaveAmount + item.HolidayOTAmount + pam.Sum(x => x.AllowanceAmount) + pbm.Sum(x => x.BonusAmount);
                    double? TotalDeduction = 0;
                    TotalDeduction = item.AbsentAmount + item.HalfDayAmount + item.LateAmount + item.LoanAmount + pdm.Sum(x => x.DeductionAmount) + peoid.Sum(c => c.EOBIAmount) + ppf.Sum(c => c.ProvidentFundAmount) + item.IncomeTaxAmount;
                    double? OverAlltotal = item.BasicSalary + (TotalEarning - TotalDeduction);
                }*@
            <div class="table-responsive">
                <div class="col-sm-12 col-xs-12">
                    <div class="col-sm-12 col-xs-12 text-center">
                        <span class="h3 text-semibold text-dark ">Balances & Salary Detail</span>
                        <table class="table h5 text-dark" style="width:50%">
                            <tbody>
                                <tr>
                                    <td>Security Deposit Balance</td>
                                    @*<td>@String.Format("{0:0.00}", securityDepositTotal - (item.PaySlip.SecurityDeposit ?? 0))</td>*@
                                    <td>@item["SecurityDepositBalance"]</td>
                                </tr>
                                <tr>
                                    <td>Loan Balance (Previous Month)</td>
                                    @*<td>@(item.PaySlip.TotalLoanAmount - item.PaySlip.LoanAmountPaid)</td>*@
                                    <td>@item["LoanBalance"]</td>

                                </tr>
                            </tbody>
                        </table>

                        <table class="table h5 text-dark" style="width:50%">
                            <tbody>
                                <tr>
                                    <td><strong>Total Salary</strong></td>
                                    <td>@item["BasicSalary"]</td>
                                    @*<td>@item.PaySlip.BasicSalary</td>*@
                                </tr>
                                <tr>
                                    <td><strong>No of Days for the Month </strong></td>
                                    @*<td>@item.Attendance.Total_Days</td>*@
                                <td>@item["TotalDays"]</td>

                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="col-sm-6 col-xs-6">
                        <div class="col-xs-6 ">
                            <strong class="pull-right">Less:Deductions</strong>
                        </div>
                        <div class="col-xs-6 ">
                            <strong class="pull-right">Rs</strong>

                        </div>
                        <table class="table h5 text-dark" style="border:2px solid">
                            <tbody>
                                <tr>
                                    <td>Security Deposit</td>
                                    <td width="100"></td>
                                    @*<td width="130">@String.Format("{0:0.00}", item.PaySlip.SecurityDeposit)</td>*@
                                    <td>@item["SecurityDepositAmount"]</td>

                                </tr>
                                <tr>
                                    <td>Advance Salary</td>
                                    <td></td>
                                    @*<td>@String.Format("{0:0.00}", item.PaySlip.AdvanceAmount)</td>*@
                                    <td>@item["AdvanceAmount"]</td>

                                </tr>
                                <tr>
                                    <td>Absent</td>
                                    @*<td>@item.PaySlip.TotalAbsent</td>*@
                                <td>@item["TotalAbsent"]</td>
                                    @*<td>@String.Format("{0:0.00}", item.PaySlip.AbsentAmount)</td>*@
                                    <td>@item["AbsentAmount"]</td>

                                </tr>

                            

                                @foreach (var value in empLates)
                                {

                                    //if (a.Count == 0)
                                    //{
                                    var perday = (double)item["PerDaySalary"];
                                        <tr>
                                            <td>@value.deduct</td>
                                            <td>@value.count</td>
                                            <td>@((perday * (value.deduct/100)) * @value.count)</td>
                                        </tr>
                                   // }

                                 

                                    @*if (late.Count == 0)
            {
                <tr>
                    <td>@value.Amount</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            }*@
                                    @*else
            {
                var lateAmount = late.FirstOrDefault().Amount / 100;
                <tr>
                    <td>@value.Amount</td>
                    <td>@late.Count</td>
                    <td>@String.Format("{0:0.00}", (item.PaySlip.PerDaySalary * lateAmount * late.Count))</td>

                </tr>
            }*@

                                }
                                @*<tr>
            <td>25%</td>
            <td>@item.PaySlip.late25.Count</td>
            <td>@String.Format("{0:0.00}", late25)</td>
        </tr>
        <tr>
            <td>50%</td>
            <td>@item.PaySlip.late50.Count</td>
            <td>@String.Format("{0:0.00}", late50)</td>
        </tr>
        <tr>
            <td>75%</td>
            <td>@item.PaySlip.late75.Count</td>
            <td>@String.Format("{0:0.00}", late75)</td>
        </tr>*@
                            <tr>
                                <td>Tax Deduction </td>
                                <td></td>
                                @*<td>@String.Format("{0:0.00}", item.PaySlip.Taxes.Sum(c => c.TaxAmount))</td>*@
                                <td>@item["TaxesAmount"]</td>

                            </tr>
                            <tr>
                                <td>Other Deduction </td>
                                <td></td>
                                @*<td>@String.Format("{0:0.00}", item.PaySlip.Deductions.Sum(c => c.DeductionAmount))</td>*@
                                <td>@item["DeductionAmount"]</td>


                            </tr>
                            <tr>
                                <td>Loan </td>
                                <td></td>
                                @*<td>@String.Format("{0:0.00}", item.PaySlip.LoanAmount)</td>*@
                                <td>@item["LoanAmount"]</td>


                            </tr>
                            <tr style="border:2px solid">
                                <td colspan="2" class="text-center" style="border:2px solid"> <strong>Total Deduction </strong></td>
                                @*<td>@String.Format("{0:0.00}", totalDeduction)</td>*@
                                <td>@item["TotalDeductions"]</td>
                                

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <table class="table h5 text-dark" style="border:2px solid">
                            <tbody>
                                <tr>
                                    <th>Leave Type</th>
                                    <th>Availed</th>
                                    <th>Balance</th>
                                </tr>
                                <tr>
                                    <td>Casual Leave</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Sick Leave</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Annaul Leave</td>
                                    <td></td>
                                    <td></td>
                                </tr>


                                <tr style="border:2px solid">
                                    <td class="text-center"><strong>Total </strong></td>
                                    <td style="border:2px solid"> <strong>0</strong> </td>
                                    <td style="border:2px solid"> <strong>0</strong></td>
                                </tr>

                            </tbody>
                        </table>
                        <table class="table h5 text-dark" style="border:2px solid">
                            <tbody>
                                <tr>
                                    <th>Leave Adjusted Amount</th>
                                    <th>Availed</th>
                                </tr>
                                <tr>
                                    <td>
                                        EOBI Deduction
                                    </td>
                                    @*<td>@(item.PaySlip.EOBI.Sum(c=>c.EOBIAmount) ?? 0 )</td>*@
                                    <td>@item["EOBIAmount"]</td>

                                </tr>
                                <tr>
                                    <td>
                                        Arrears (If Any)
                                    </td>
                                    <td>0</td>
                                </tr>



                                <tr style="border:2px solid">
                                    <td class="text-center"><strong>Total </strong></td>
                                    @*<td style="border:2px solid"> <strong>@(item.PaySlip.EOBI.Sum(c=>c.EOBIAmount) ?? 0 )</strong> </td>*@
                                    <td>&nbsp;</td>

                                </tr>

                            </tbody>
                        </table>
                        <table class="table h5 text-dark" style="border:2px solid">
                            <tbody>
                                <tr>
                                    <th>Net Salary Payable</th>
                                    @*<th>@String.Format("{0:0.00}", OverAlltotal) </th>*@
                                    <td>@item["OverAlltotal"]</td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                    <div class="row">

                    </div>

                </div>
                <div class="col-sm-3 col-xs-3">
                    <strong style="border-top: 1px solid">Prepared By </strong><br />
                    (Accountant)
                </div>
                <div class="col-sm-3 col-xs-3">
                    <strong style="border-top: 1px solid">Checked By </strong><br />
                    (Sr. Accountant)
                </div>
                <div class="col-sm-3 col-xs-3">
                    <strong style="border-top: 1px solid">Approved By </strong><br />
                    (Managing Director)
                </div>
                <div class="col-sm-3 col-xs-3">
                    <strong style="border-top: 1px solid">Employee Signature </strong><br />
                </div>

            </div>
               

            </div>

        </section>
        <div class="pagebreak"></div>
    }

</div>
