@model IEnumerable<NIDO_TimeAttandance_MVC.Models.ModelEmpProfile>

@{
    ViewBag.Title = "ListAll";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    img {
        border-radius: 50%;
    }
</style>
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">

                            <h1><span class="table-project-n">Employee</span></h1>
                            <div class="sparkline13-outline-icon">
                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Code</th>
                                        <th>Employee Name</th>
                                        <th>Designation</th>
                                        <th>Department</th>
                                        <th>Company</th>
                                        <th>City</th>
                                        <th>Active</th>
                                        <th>
                                            Action
                                            @*<div class="button-drop-style-one" style="float:right">
                                                <button type="button" class="btn btn-custon-four btn-success primary-btn-cl" onclick="redirect('/SalaryIncrement/Create/')">
                                                    Add New
                                                    <i class="adminpro-icon adminpro-avatar"></i>
                                                </button>
                                            </div>*@
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        string ImgPath = "";

                                        string IsStatus = "";
                                        string StatusSymbol = "";
                                        string Colour = "";

                                        if (item.ActiveInActive == false)
                                        {
                                            IsStatus = "Active";
                                            StatusSymbol = "fa fa-check";
                                            Colour = "green";
                                        }
                                        else
                                        {
                                            IsStatus = "In-Active";
                                            StatusSymbol = "adminpro-icon adminpro-danger-error";
                                            Colour = "red";
                                        }
                                        if (item.EmpImg != null)
                                        {
                                            ImgPath = item.EmpImg;
                                        }
                                        else
                                        {
                                            if (item.Gender == "Male")
                                            {
                                                ImgPath = "/Assests/Home/img/boyDp.png";
                                            }
                                            else if (item.Gender == "Female")
                                            {
                                                ImgPath = "/Assests/Home/img/girlDp.png";
                                            }
                                            else
                                            {
                                                ImgPath = "/Assests/Home/img/User_Circle.png";
                                            }
                                        }


                                        <tr>
                                            <td>
                                                <div>
                                                    <img src="@ImgPath" width="30" height="30" alt="" />
                                                </div>
                                            </td>
                                            <td>

                                                @Html.DisplayFor(modelItem => item.EmpCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmpName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Designation)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DepartmentName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CompanyName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CityName)
                                            </td>
                                            <td>
                                                <span><i style="color:@Colour" class="@StatusSymbol"> @IsStatus</i></span>
                                            </td>

                                            <td>
                                                <a href="/Payroll/SalaryIncrement/Increment?EmpId=@item.EmpId" class = "btn btn-custon-four btn-warning warning-btn-cl">Increment</a>
                                         
                                                @*<input type="button" value="Delete" class="btn btn-custon-four btn-danger danger-btn-cl" onclick="ActionLinkAlert('/EmployeeProfile/DeleteEmployee',@item.EmpId)" />*@

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>                                                                                                                                                                       
        </div>
    </div>
</div>
