@model IEnumerable<NIDO_TimeAttandance_MVC.Models.ModelShift>

@{
    ViewBag.Title = "ListAll";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1><span class="table-project-n">Shift</span></h1>
                            <div class="sparkline13-outline-icon">
                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>                                        
                                        <th>Shift Dsc</th>
                                        <th>Time In</th>
                                        <th>Time Out</th>
                                        <th>Actual In</th>
                                        <th>Actual Out</th>
                                        <th>Company</th>                                                                              
                                        <th>Half Day</th>
                                        <th>Night Shift</th>
                                        <th>OverTime</th>
                                        <th>
                                            Action
                                            <div class="button-drop-style-one" style="float:right">
                                                <button type="button" class="btn btn-custon-four btn-success primary-btn-cl" onclick="redirect('/Shift/Create/')">
                                                    Add New
                                                    <i class="adminpro-icon adminpro-avatar"></i>
                                                </button>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        string HalfDay = "";
                                        string StatusSymbol = "";
                                        string Colour = "";
                                        string NightShift = "";
                                        string NStatusSymbol = "";
                                        string NColour = "";
                                        string OverTime = "";
                                        string OStatusSymbol = "";
                                        string OColour = "";

                                        if (item.IsHalfDayApplicable == true)
                                        {
                                            HalfDay = "Yes";
                                            StatusSymbol = "fa fa-check";
                                            Colour = "green";
                                        }
                                        else
                                        {
                                            HalfDay = "No";
                                            StatusSymbol = "adminpro-icon adminpro-danger-error";
                                            Colour = "red";
                                        }
                                        if (item.IsNightShift == true)
                                        {
                                            NightShift = "Yes";
                                            NStatusSymbol = "fa fa-check";
                                            NColour = "green";
                                        }
                                        else
                                        {
                                            NightShift = "No";
                                            NStatusSymbol = "adminpro-icon adminpro-danger-error";
                                            NColour = "red";
                                        }
                                        if (item.IsOverTimeApplicable == true)
                                        {
                                            OverTime = "Yes";
                                            OStatusSymbol = "fa fa-check";
                                            OColour = "green";
                                        }
                                        else
                                        {
                                            OverTime = "No";
                                            OStatusSymbol = "adminpro-icon adminpro-danger-error";
                                            OColour = "red";
                                        }

                                    <tr>                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShiftDesc)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TimeIn)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TimeOut)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ActualIn)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ActualOut)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CompanyName)
                                        </td>
                                        
                                        <td>
                                            <span><i style="color:@Colour" class="@StatusSymbol"> @HalfDay</i></span>
                                        </td>
                                        <td>
                                            <span><i style="color:@NColour" class="@NStatusSymbol"> @NightShift</i></span>
                                        </td>
                                        <td>
                                            <span><i style="color:@OColour" class="@OStatusSymbol"> @OverTime</i></span>
                                        </td>

                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ShiftId }, new { @class = "btn btn-custon-four btn-warning warning-btn-cl" }) |
                                            <input type="button" value="Delete" class="btn btn-custon-four btn-danger danger-btn-cl" onclick="ActionLinkAlert('/Shift/DeleteShift',@item.ShiftId)" />

                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
